    <div class="inANDout">
        <table>
            <thead>
                <tr class="top">
                    <th class="inANDoutTitulo">Titulo</th>
                    <th class="inANDoutEditora">Editora</th>
                    <th class="inANDoutAno">Ano</th>
                    <th class="inANDoutEdicao">Edição</th>
                    <th class="inANDoutIdioma">Idioma</th>
                    <th class="inANDoutCategoria">Categoria</th>
                    <th class="inANDoutISBN">ISBN</th>
                    <th class="inANDoutCDD">CDD</th>
                    <th class="inANDoutEstante">Estante</th>
                    <th class="inANDoutPrateleira">Prateleira</th>
                    <th class="inANDoutObservacoes">Observações</th>
                </tr>
            </thead>
            <tbody>
                <tr class="dados" *ngFor="let livro of livros">
                    <td class="dadosTitulo">{{ livro.titulo }}</td>
                    <td class="dadosEditora">{{ livro.editora }}</td>
                    <td class="dadosAno">{{ livro.ano }}</td>
                    <td class="dadosEdicao">{{ livro.edicao }}</td>
                    <td class="dadosIdioma">{{ livro.idioma }}</td>
                    <td class="dadosCategoria">{{ livro.categoria }}</td>
                    <td class="dadosisbn">{{ livro.isbn }}</td>
                    <td class="dadosCDD">{{ livro.CDD }}</td>
                    <td class="dadosEstante">{{ livro.estante }}</td>
                    <td class="dadosPrateleira">{{ livro.prateleira }}</td>
                    <td class="dadosObservacoes">{{ livro.observacoes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
