    <div>
        <div id="divBusca">
            <img src="assets/img/search.svg" alt="Buscar..."/>
        <input id="txtBusca" type="text" placeholder="Buscar Livro por: Titulo/Autor/Categoria..." [(ngModel)]="filter" />
        </div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Titulo do Livro</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Ano</th>
                    <th>Edição</th>
                    <th>Idioma</th>
                    <th>Categoria</th>
                    <th>ISBN</th>
                    <th>CDD</th>
                    <th>Estante</th>
                    <th>Prateleira</th>
                    <th>Observações</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active-row" *ngFor="let livro of livros | filter:filter; let i = index">
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                    <td>{{ livro.editora }}</td>
                    <td>{{ livro.ano }}</td>
                    <td>{{ livro.edicao }}</td>
                    <td>{{ livro.idioma }}</td>
                    <td>{{ livro.categoria }}</td>
                    <td>{{ livro.isbn }}</td>
                    <td>{{ livro.CDD }}</td>
                    <td>{{ livro.estante }}</td>
                    <td>{{ livro.prateleira }}</td>
                    <td>{{ livro.observacoes }}</td>
                </tr>
            </tbody>
        </table>
    </div>
